<div class="v-container">
{{#with-sidebar name="tools" as |tools|}}
  <div class="topbar">
    {{#liquid-bind tools as |tools|}}
      {{component tools}}
    {{/liquid-bind}}
  </div>
{{/with-sidebar}}

<div class="container">
  <main>
    <p>This app demonstrates two examples of <a href="https://github.com/ef4/ember-elsewhere">Ember Elsewhere</a>.</p>

    <ol>
      <li>The blue area is a sidebar named "right", rendered by <code>\{{show-sidebar name="right"}}</code>.</li>

      <li>The green area (visible only on some pages) is a sidebar named "tools", rendered by a <code>\{{#with-sidebar}}</code> component that allows it to be composed with liquid-fire animations.</li>
    </ol>

    <p>As you use the links below to switch between the three routes, each route can choose to place content into either of the sidebars by including <code>\{{in-sidebar}}</code>. </p>

    <nav>
      {{#link-to 'index'}}First Page{{/link-to}}
      {{#link-to 'second'}}Second Page{{/link-to}}
      {{#link-to 'third'}}Third Page{{/link-to}}
    </nav>

    {{outlet}}
  </main>

  <div class="right-sidebar">
    {{show-sidebar name="right"}}
  </div>

</div>
</div>